.cadastro_cliente label {
	color: #fff;
}

.cadastro_cliente {
	width:100%;
	background-color:#fafafa;
	padding:5px;
	position:relative;
	left:50%;
	transform:translateX(-50%);
}

.cadastro_cliente table {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid #000;
	border-radius: 50px 0px 50px 0px;
	background-color: #404040;
	padding:15px 90px 15px 90px;
	border-radius: 12px 22px;
	box-shadow:4px 4px 10px 2px #000;
}

.botoes {
	width:50%;
	position: relative;
	left:68%;
	transform:translateX(-68%);
}

.cadastro_cliente input[type=submit] {
	width: 120px;
	border: 3px solid black;
	outline: none;
	height: 35px;
	color: #fff;
	background: #000;
	border-radius: 20px;
	margin-top: 10px;
	margin-right: 10px;
}

.cadastro_cliente input[type=submit]:hover {
	cursor: pointer;
	background-color: #fff;
	color: #000;
}

.cadastro_cliente input[type=text], input[type="password"] {
	width:160px;
	font-size:12pt;
	border-radius:32px 22px 12px;
	padding-left:8px;
}
