body{
	margin:0;
	padding: 0;
	border: 0;	
}
.cadastro_cliente label {
	color:#fff;
	font-size:12pt;
}
header{
	background-color:#24292e;
	color:#fff;
	padding:3px;
	
}
.cabecalho{
	display:flex;
	justify-content:space-around;
}
header div.cabecalho a{
	margin-top:15px;
	color:#fff;
}
.cadastro_cliente table  h3{
	color:#fff;
	font-size:15pt;
}
.cadastro_cliente {
	width:100%;
	background-color:#fafafa;
	padding:5px;
	position:relative;
	left:50%;
	transform:translateX(-50%);
}

.cadastro_cliente table {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid #000;
	border-radius: 50px 0px 50px 0px;
	background-color:#24292e;
	padding:60px;
	padding-top:15px;
	border-radius: 12px 22px;
	box-shadow:4px 4px 10px 2px #000;
}

.cadastro_cliente input[type=submit] {
	width: 120px;
	border: 3px solid black;
	outline: none;
	height: 35px;
	color: #fff;
	background: #000;
	border-radius: 20px;
	margin-top:5px;
}

.cadastro_cliente input[type=submit]:hover {
	cursor: pointer;
	background-color: #fff;
	color: #000;
}

.cadastro_cliente input[type=text], input[type="password"] {
	width:200px;
	height:25px;
	font-size:12pt;
	padding-left:5px;
}
